/* Hub notes formulaire exposé */
#views-exposed-form-note-hub .dropdown > button {
  background-color: $simple-grey;
}

/* Hub notes */
.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15% 0 -16%;
}

.note {
  .score {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .equipe {
    display: flex;
    align-items: center;
    height: 100px;
    img {
      height: 100%;
    }
  }

  .swiper-container {
    height: 800px;
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #E6E6E6;
      img {
        width: 100%;
      }
    }
    .swiper-button-next, .swiper-button-prev {
      color: $off-white;
    }
  }
}

/* CSS note teaser */
.note-teaser {
  width: 35%;
  border: 1px solid $dark-grey;

  a {
    color: $dark-grey;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: $red;
  }

  .score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .equipe {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 35%;
    img {
      height: 70%;
    }
  }
}
