/* Hub notes */
.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15% 0 -16%;
}

/* CSS note teaser */
.note-teaser {
  width: 35%;
  border: 1px solid $dark-grey;
}
